body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background: linear-gradient(to bottom, #0072ff, #00c6ff);
    background-size: cover;
    transition: background 0.5s ease;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin: 10px 0;
}

h3 {
    margin: 5px 0;
    font-size: 3rem;
}

input {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #00c6ff;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #0072ff;
}
